/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');

/* -- Variables -- */
@import './variables';

/* -- Components styles -- */
@import '../components/App/app';
@import '../components/Header/header';
@import '../components/Home/home';
@import '../components/About/about';
@import '../components/Work/work';
@import '../components/Contact/contact';


/* -- Global styles -- */

body {
  background: $color-brighter;
  color: $color;
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
}

section {
  width: 100%;
  min-height: 100vh;
}

h1, h2 {
  font-weight: 700;
}

h3, h4, h5 {
  font-weight: 500;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-flow: column wrap;
}