/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Red+Hat+Display:wght@700&display=swap');

/* -- Variables -- */
@import './variables';

/* -- Breakpoints -- */
@import './breakpoints';

/* -- Components styles -- */
@import '../components/App/app';
@import '../components/Header/header';
@import '../components/Home/home';
@import '../components/About/about';
@import '../components/Work/work';
@import '../components/Contact/contact';


/* -- Global styles -- */
body {
  background: $color-bright;
  color: $color;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

section {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

h1, h2 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
}

h3, h4, h5 {
  font-weight: 700;
}