.about {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 80%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media('<=tablet') {
      display: block;
    }
    @include media('<=phone') {
      font-size: 1rem;
    }
    
    &__title {
      font-size: 5rem;
      transform: rotate(-90deg);
      @include media('<=tablet') {
        transform: translateX(-2px);
      }
      @include media('<=phone') {
        font-size: 3rem;
      }
    }

    &__box {
      &__text {
        line-height: 1.5rem;
        margin-top: 2rem;
        @include media('<=phone') {
          margin-top: 1rem;
        }
      }
      &__list {
        line-height: 1.5rem;
        margin-top: 2rem;
        @include media('<=phone') {
          margin-top: 1rem;
        }
  
        li {
          margin-bottom: .3rem;
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}

.date {
  width: 50px;
  margin-right: 1rem;
  font-weight: 700;
}