.home {
  background-image: url(#{$images-path}/mountain-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
  .main-title {
    padding-top: 5rem;
    text-align: center;
    font-size: 15rem;
    color: $color-brighter;
  }

  &__gradient {
    background: $color-brighter;
    background: linear-gradient(0deg, rgba(191,191,184,1) 0%, rgba(191,191,184,0) 100%);
    width: 100%;
    position: absolute;
    bottom: -6vh;
    height: 20rem;
  }

  &__btn {
    z-index: 2;
    margin: 0 auto 2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $color;
    border-radius: 50%;
    animation: bounce 2s infinite ease-in-out;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    width: 3rem;
    height: 3rem;
  }

  66% {
    transform: translateY(-30px);
    width: 3.4rem;
    height: 2.5rem;
  }

  100% {
    transform: translateY(0);
    width: 3rem;
    height: 3rem;
  }
}
