.home {
  background-image: url(#{$images-path}/mountain-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  animation: appearSmoothly 2s cubic-bezier(.19, 1, .22, 1);
  
  .main-title {
    padding-top: 5rem;
    text-align: center;
    font-size: 15rem;
    color: $color-brighter;
    animation: appearAndTranslate 2s cubic-bezier(.19, 1, .22, 1);
    @include media('<=tablet') {
      font-size: 9.2rem;
      padding-top: 10rem;
    }
    @include media('<=phone') {
      font-size: 8rem;
      padding-top: 5rem;
    }
  }

  &__gradient {
    background: $color-brighter;
    background: linear-gradient(0deg, rgba(191,191,184,1) 0%, rgba(191,191,184,0) 100%);
    width: 100%;
    position: absolute;
    bottom: -5vh;
    height: 20rem;
    @include media('<=tablet') {
      bottom: -1vh;
    }
  }

  &__box {
    z-index: 2;
    height: 15vh;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
      background-color: $color;
      border-radius: 50%;
      animation: bounce 2s infinite ease-in-out;
      cursor: pointer;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    width: 3rem;
    height: 3rem;
  }

  66% {
    transform: translateY(-30px);
    width: 3.4rem;
    height: 2.5rem;
  }

  100% {
    transform: translateY(0);
    width: 3rem;
    height: 3rem;
  }
}

@keyframes appearSmoothly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearAndTranslate {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0);
  }
}